.App {
  text-align: center;
  background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
  background-color: orange;
}

.spin {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
